<div theme-dark="text-white" theme-light="text-dark" class="text-dark">
    <h2 class="lng-CourseProject">This site was created how course project.</h2>
    <h3><span class="lng-Author">Author</span>: <span class="lng-FullName">Nikita Koroktki</span></h3>
    <h4>VK: <a class="fs-4" href="https://vk.com/nikminer4sv"><span class="lng-FullName">Nikita Koroktki</span></a></h4>
    <h4>Telegram: @@nikminer4sv</h4>
</div>